# build artifacts
*.7z
*.a
**/build/
*.bz2
**/dist/
*.dll
*.dylib
**/*.egg-info/
*.exe
*.msi
*.o
**/__pycache__/
*.py[cod]
*.rar
*.so
*.tar.gz
*.zip

# documentation
*.doc
*.docm
*.docx
*.pdf
*.ppt
*.pptm
*.pptx

# notebook stuff
*.ipynb_checkpoints/

# misc files
*.DS_Store
*.log
*.cache
*history

# backup files from tools like aspell and sed
*.bak

# data files
*.csv
*.db
*.json
*.ndjson
*.npy
*.parquet
*.pkl
*.pq
*.sqlite
*.rda
*.Rdata
*.rds
*.tsv
*.xls
*.xlsm
*.xlsx

# files from local testing
catboost_info/
comparing-lightgbm-to-other-r-gbdt-libraries/*.html
.coverage
dask-worker-space/
**/htmlcov/
.mypy_cache/
prefect-fork/*
.pytest_cache/
r-from-the-command-line/critiquer
r-from-the-command-line/stderr.txt
r-from-the-command-line/stdout.txt

# editor files
**/.idea/
**/.vscode

# temporary build stuff
temp-layer-dir/
sam-*.yml
*.pkl

# credentials and key material
config
credentials
credentials.csv
*.env
*.pem
*.pub
*.rdp
*_rsa

# exclusions
!recent-developments-in-lightgbm/image.env
