# builds
**/*.tar.gz
**/*.zip

# python stuff
**/__pycache__
**/.ipynb_checkpoints
*.ipynb
*.whl
*.egg-info

# docs
*.doc
*.docx
*.docm
*.ppt
*.pptm
*.pptx
*.xls
*.xlm
*.xlsx

# data
*.csv
*.json

# temporary build stuff
temp-layer-dir/
sam-*.yml
*.pkl

# misc other garbage
**/.DS_Store
