*.7z
*.a
*.bak
**/build/
*.bz2
*.cache
catboost_info/
comparing-lightgbm-to-other-r-gbdt-libraries/*.html
.coverage
*.csv
dask-worker-space/
*.db
**/dist/
*.dll
*.doc
*.docm
*.docx
*.DS_Store
*.dylib
**/*.egg-info/
*.env
*.exe
*history
**/htmlcov/
**/.idea/
*.ipynb_checkpoints/
*.json
*.log
*.msi
.mypy_cache/
*.ndjson
*.npy
*.o
*.parquet
*.pdf
*.pem
*.pkl
*.ppt
*.pptm
*.pptx
*.pq
prefect-fork/*
*.pub
**/__pycache__/
*.py[cod]
.pytest_cache/
*.rar
*.rda
*.Rdata
*.rdp
*.rds
r-from-the-command-line/critiquer
r-from-the-command-line/stderr.txt
r-from-the-command-line/stdout.txt
*_rsa
.ruff_cache
sam-*.yml
*.so
*.sqlite
*.tar.gz
temp-layer-dir/
*.tsv
**/.vscode
*.xls
*.xlsm
*.xlsx
*.zip

# exclusions
!comparing-lightgbm-to-other-r-gbdt-libraries/rstudio-prefs.json
!recent-developments-in-lightgbm/image.env
